table {
    margin-top: 30px;
    width: 100%;
    & tr {
        & th,
        & td {
            text-align: center;
        }
    }

    & thead {
        background-color: var(--vt-c-indigo);
        color: var(--vt-c-white-soft);


    }

    & tbody {
        & tr {
            background-color: var(--vt-c-white);
        }
    }
}
